    .link-carrier{
    font-weight: 700; 
    font-family: Arial, sans-serif; 
    color: #5c5c5c; 
    margin-left: 20px;
}
.link-carrier:hover{
    color: #464646;
}
.html-section{
    background-color: aliceblue;
}

footer{
    padding: 10px;
    margin-top: 20px;
}
footer p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}







@media screen and (max-width: 800px){
    .col-6{
        width: 100%;
    }
    .col{
        width: 100%;
    }
}