    body{
        scroll-behavior: smooth;
    }
    .link-carrier {
        font-weight: 700;
        font-family: Arial, sans-serif;
        color: #5c5c5c;
        margin-top: 20px;
    }

    .link-carrier:hover {
        color: #464646;
    }

    .html-section {
        background-color: #2a2942ec;
        padding: 20px;
        color: white;
    }

    .html-section h5 , h3{
        color: black;
    }

    footer {
        padding: 3px;
    }

    footer p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 700;
    }
    
    .space-carrier{
        margin: 20px;
        border-radius: 10px;
        padding: 10px;
    }
    .start{
        width: 65%;
    }




    @media screen and (max-width: 900px) {
        .col-6 {
            width: 100%;
        }

        .col {
            width: 100%;
        }

        .start{
            width: 100%;
        }
    }